<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mastersbook</display-name>
  <welcome-file-list>
    <welcome-file>managebooks.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.atl.mb.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SearchOrder</display-name>
    <servlet-name>SearchOrder</servlet-name>
    <servlet-class>com.atl.mb.controller.SearchOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOrder</servlet-name>
    <url-pattern>/SearchOrder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetTable</display-name>
    <servlet-name>GetTable</servlet-name>
    <servlet-class>com.atl.mb.controller.GenericTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTable</servlet-name>
    <url-pattern>/GetTable</url-pattern>
  </servlet-mapping>
</web-app>